<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <%%- meta %>
    <%%- title %>
    <%%- link %>
    <%%- style %>
  </head>
  <body>
    <div id="root"><%%- appString %></div>
    <script>
      window.__INITIAL__STATE__ = <%%- initialState %>
    </script>
  </body>
</html>
